body {
  background-color: #222222;
  font-family: Verdana, sans-serif;
  color: #dddddd;
}

#list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border: #fff;
  border-radius: 10px;
  margin: 10px;
}

ul li div {
  border: 2px solid #fff;
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: row;
}

ul li div div {
  border: none;
}

h3 {
  font-size: small;
  align-self: ;
}

ul li div img {

  max-width: 450px;
  width: 450px;
  max-height: 50px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}