:root {
  --bgcolor: #0d3e5f;
  --bgcolorlist: #232323;
  --font: #ddd;
}

h1 {
  font-size: 20px;
}

body {
  background-color: var(--color1);
}

iframe {
  max-width: 100%;
}

.maps1 {
  border-radius: 10px;
}

.maps2 {
  border-radius: 10px;
}

.maps3 {
  border-radius: 10px;
}

body {
  background-color: var(--bgcolor);
  font-family: Verdana, sans-serif;
  color: var(--font);
}

ul {
  padding-left: 0px;
}

#list {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  border: var(--font);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  transition: transform 0.1s ease;
}

li:hover {
  transform: scale(1.1);
}

ul li div {
  border: 2px solid var(--font);
  background-color: var(--bgcolorlist);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: row;
  transition: transform 0.3s ease;
}

ul li div:hover {
  transform: scale(1.02);
}

ul li div div {
  border: none;
}

h3 {
  font-size: small;
}

a {
  color: var(--font);
  text-decoration: none;
}

ul li div img {
  max-width: 450px;
  width: 450px;
  max-height: 63px;
  height: auto;
  object-fit: cover;
}

h3 {
  font-size: 12px;
}

.backbutton {
  padding-top: 0px;
  font-size: 30px;
}

.container.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.container.main section {
  background-color: #fff;
  max-width: 1600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.container.main label {
  border-bottom: 1px solid #416378;
  background-color: #092331;
  cursor: pointer;
  display: block;
  padding: 15px 20px;
  margin: 0;
  color: #fff;
  position: relative;
  font-size: 22px;
  transition: all 0.1s ease;
}

.container.main label::after {
  content: "\271B";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0.5;
  font-weight: 100;
  font-size: 16px;
}

.container.main label:hover {
  transform: scale(1.02);
}

.container.main div {
  color: #666;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  padding: 0 20px;
}

.container.main div p {
  opacity: 0;
}

.container.main input {
  display: none;
}

.container.main input:checked + label + div {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
  padding: 20px;
  transition: all 0.1s ease;
}

.container.main input:checked + label:hover + div {
  transform: scale(1.02);
}

.container.main input:checked + label + div p {
  opacity: 1;
}

.container.main input:checked + label::after {
  content: "\268A";
}
